p {
  font-family: Lato;
}
agm-map {
      height: 300px;
    }
info-window .si-pointer-border-top{
    border-top-color: transparent !important;
}
info-window .si-pointer-bg-top{
    border-top-color: transparent !important;
}
info-window .si-shadow-inner-pointer-top{
    box-shadow: none !important;
}
info-window .si-shadow-wrapper-top .si-shadow-frame{
    box-shadow: none !important;
}
info-window .si-content-wrapper{
    border: none !important;
    box-shadow: rgba(0, 0, 0, 0.28) 0px 8px 28px !important;
    background-color: rgb(255, 255, 255) !important;
    border-radius: 5px !important;
    overflow: hidden !important;
    width: 300px !important;
    padding: 8px !important;
}
info-window .si-content{
    width: 100%;
    max-width: max-content !important;
    max-height: max-content !important;
    overflow: hidden;
}

map-outer .gm-control-active {
	position: relative;
}
map-outer .gm-control-active img,
map-outer .gm-control-active img {
	display: none !important;
}
map-outer .gm-control-active[aria-label='Zoom in']:after {
	width: 15px;
	height: 2px;
	position: absolute;
	left: 0;
	right: 0;
    margin: 0 auto;
	top: 50%;
    content: '';
    transform: translateY(-50%);
	background: #222222;
}
map-outer .gm-control-active[aria-label='Zoom in']:before {
	width: 2px;
	height: 15px;
	position: absolute;
	left: 0;
	right: 0;
    margin: 0 auto;
	top: 50%;
    content: '';    
    transform: translateY(-50%);
	background: #222222;
}
map-outer .gm-control-active[aria-label='Zoom out']:after {
	width: 15px;
	height: 2px;
	position: absolute;
	left: 0;
	right: 0;
    margin: 0 auto;
	top: 50%;
    content: '';
    transform: translateY(-50%);
	background: #222222;
}
map-outer {
    height: 100%;
}